@{
    ViewBag.Title = "hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<blog_yeni.Models.hakkimizda>
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
       @foreach (var h in Model)
       {
        <p>@h.name</p>
       }
        
    </div>
</div>